{% extends "main.html"  %}

{% block body %}
  <div id = "testing">
    <h1>Charts</h1>
      <canvas id="myChart" width="500" height="250"></canvas>
      <script>
      Chart.defaults.global.responsive = true;
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: ['Four-Seam Fastball', 'Changeup', 'Curveball', 'Sinker', 'Slider', 'Slow Curve'],
              datasets: [{
                  label: '# of Votes',
                  data: [369, 308, 219, 132, 109, 8],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
      </script>
  </div>
<img src="https://img.mlbstatic.com/mlb-photos/image/upload/w_426,q_100/v1/people/573262/headshot/67/current" height = "200">
{%endblock%}