{% extends "main.html"  %}

{%  block body  %}

<form method="POST" action="">
    {{ F.hidden_tag() }}
    {{F.year.label}} {{F.year(placeholder = "Year")}}
    {{F.types.label}} {{F.types(placeholder = "Progressive or Per Game")}}
    {{F.name.label}} {{F.name(placeholder = "Player Full Name")}}
    {{F.category.label}} {{F.category(placeholder = "Catergory")}}
    {{F.submit}}
</form>

{% if player_category and player_date %}

<!-- cancas element -->
<div id="chart">
    <canvas id="myChart" width="750" height="500"></canvas>
    <canvas id="myChart2" width="750" height="500"></canvas>
    <canvas id="myChart3" width="750" height="500"></canvas>
</div>
<!-- Js code -->
<script>
      Chart.defaults.global.responsive = false;

      graph();
      
      function graph(){
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, 
        {
          type: 'line',
          data: {
              labels: {{ player_date | tojson }},
              datasets: [{
                  label: {{ category | tojson }},
                  data: {{ player_category | tojson }},
                  backgroundColor: [
                      'rgba(254, 90, 29, 0.8)'
                  ],
                  borderColor: [
                      'black'
                  ],
                  borderWidth: 1
              }]
              
          },
          options: {
               scales: {
                    xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                            }
                        }],
                    yAxes: [{
                            display: true,
                            ticks: {
                            }
                        }]
                },
          }
      })
      
      };


</script>

{% endif %}

{% endblock %}

